body {
    margin: 0;
    font-family: Georgia, serif;
  }
   html {
    /* The image used */
    background-image: url("hero.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .about{
	  background-color: #b8c0ff;
	  text-align: center;
	  padding: 14px 16px;
  }
  .Authors{
	background-color: #ffffff;
	text-align: center;
	padding: 14px 16px;
}
  .topnav {
    overflow: hidden;
    background-color: #7209b7;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  body{
margin:0;
padding:0;
}

.search-box{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#bec5fc;
height: 50px;
border-radius:40px;
padding:10px;

}
.search-box:hover > .txt{
width:300px;
padding:0 6px;
transition: all 1s;

}
.search-box:hover > .btn{
background:#7209b7;

}
.btn{
color:#e84118;
float:right;
width:40px;
height:40px;
border-radius:50%;

display:flex;
justify-content:center;
align-items:center;
transition:0.4s;
cursor:pointer;


}
.btn > i{
font-size:30px;
color:#000;


}

.txt{
border:none;
background:none;
outline:none;
float:left;
padding:0;
color:#333;
font-size:16px;
transition:0.4s;
line-height:40px;
width:0px;
font-weight:bold;
}
form:hover .fa{
background: #07051a;
color: white;
}


  .topnav a.active {
    background-color: #b8c0ff;
    color: #7209b7;
  }

  .gallery {
	background-color: #ffffff;
	display: flex;
	padding: 2px;
	transition: .3s;
  }
	
  .gallery__image{
	  float: right;
	  width: 10%;
	  background-color: #f2f2f2;
  }

  #image{
	  width: 80%;
	  background-color: #ffffff10;
	  backdrop-filter: blur(12px);
	  -webkit-backdrop-filter: blur(12px);
  }

 .gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
}
	
	
  footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
}


.footer-distributed{
	background-color: #b8c0ff;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px Georgia, serif;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 25%;
}

.footer-distributed h3 span{
	color:  #7209b7;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #7209b7;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #07051a;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #7209b7;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #7209b7;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #7209b7;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #07051a;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #07051a;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 33px;
	height: 31px;
	cursor: pointer;
	background-color:  #ffffff;
	border-radius: 1px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

} 
